body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  background: #f6f6f6;
}

div {
  display: block;
}

.header {
  background: #f6f6f6;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.sec_container {
  width: 94%;
  margin: auto;
}

.head-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 19px;
  align-items: center;
}

.logo {
  padding-left: 2%;
}

.logo img {
  max-width: 100%;
}

.contact a {
  border: 1px solid #707070;
  padding: 10px 16px;
  font-size: 28px;
  color: #5e5e5e;
  cursor: pointer;
  font-weight: 300;
  text-decoration: none;
}

section.content {
  text-align: center;
  padding-top: 39px;
}

.head {
  width: 90%;
  margin: auto;
}

.smallcontent {
  width: 60%;
  margin: auto;
}

p.description {
  color: #575757;
  font-size: 22px;
  margin: 0;
}

.form-sec {
  margin-top: 40px;
}

.form-container {
  width: 94%;
  margin: auto;
}

.container {
  justify-content: space-between;
  display: flex;
}

.form-image-container {
  width: 50%;
}

img.guy {
  width: 100%;
  position: relative;
  top: 8px;
}

.form-elements {
  width: 46.6%;
  padding-top: 3%;
}

form.banner {
  width: 91.5%;
  padding-left: 1.5%;
  clear: both;
  /*Doubt*/
}

.form-input input {
  font-family: "Gilroy";
  font-size: 30px;
  padding: 18px 40px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #99999973;
  margin-bottom: 10px;
  width: 100%;
  width: -webkit-fill-available;
  width: fill-available;
  /*Doubt*/
  color: #000;
}

input {
  outline: none;
}

::placeholder {
  color: #c8c8c8;
  background-color: #fff;
}

.form-input select {
  font-family: "Gilroy";
  font-size: 30px;
  padding: 18px 40px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #99999973;
  margin-bottom: 10px;
  width: 100%;
  width: -webkit-fill-available;
  width: fill-available;
  background: url(https://in.npdigital.com/inquiry-form/images/Group_1911.png)
    97% 30px/20px no-repeat;
  appearance: none;
}

select.placeholder {
  color: #c8c8c8 !important;
  background-color: #fff;
}

option {
  font-weight: normal;
  display: block;
  color: #152c5b;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.submit #submit {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 10px;
  background: #eb6335;
  border: none;
  font-family: "Gilroy";
  width: 100%;
  width: -webkit-fill-available;
  /*Doubt*/
  width: fill-available;
  cursor: pointer;
}

.market-logo {
  display: flex;
}

.market-logo ul {
  display: flex;
  position: relative;
  /*Doubt*/
  padding-left: 0;
  align-items: center;
}

li {
  display: list-item;
  list-style-type: none;
  text-align: -webkit-match-parent;
  /*Doubt*/
}

.market-logo img {
  width: 100%;
  max-width: 200px;
  /*Doubt*/
  height: auto;
  /*Doubt*/
}

section.logo_slide {
  padding-top: 5%;
  padding-bottom: 9%;
  background-color: #fff;
}

.container_slide {
  width: 95%;
  margin: auto;
}

h2.clients {
  font-size: 59px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

section.service {
  background: #f6f6f6;
  padding-top: 5%;
  padding-bottom: 6%;
}

.client {
  width: 87%;
  margin: 0 auto;
}

.service_b {
}

p.service_para {
  text-align: center;
  color: #5e5e5e;
  font-size: 26px;
  margin: 0px;
  margin: 0px auto;
  width: 85%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.icon_grid {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  padding-top: 2%;
}

.list_grid {
  width: 25%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 1.5rem;
}

.icon_image {
  margin-bottom: 20px;
}

.icon_content {
  position: relative;
  /* edit */
}

p.icon_ser {
  color: #5e5e5e;
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
  text-transform: capitalize;
}

.line_show {
  position: absolute;
  width: 1px;
  height: 185px;
  background: #c8c8c8;
  top: -90px;
  right: 0;
}

.line_show_left {
  position: absolute;
  width: 1px;
  height: 257px;
  background: #c8c8c8;
  left: 13rem;
  top: 9px;
  transform: rotate(90deg);
}

.line_show_left_mob {
  position: absolute;
  width: 1px;
  height: 257px;
  background: #c8c8c8;
  left: 13rem;
  top: 9px;
  transform: rotate(90deg);
  display: none;
}

.list_grid_last {
  width: 25%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 1.5rem;
}

.list_grid_last .line_show {
  display: none;
}

.list_grid_last_down {
  width: 25%;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 1.5rem;
}

.line_show_down {
  display: none;
}

.service_consultation {
  text-align: center;
  position: relative;
}

.service_consultation a {
  background: #eb6335;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 15px 50px;
  font-size: 23px;
  font-weight: 500 !important;
  font-family: "Gilroy";
}

section.service_award {
  padding: 4% 0;
  background-color: #fff;
}

.row {
  display: flex;
}

.row_container {
  width: 77%;
  margin: auto;
}

.small_content_award {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
}

.small_content_award p {
  color: #575757;
  font-size: 22px;
  margin: 0;
}

.small_content_award1 {
  width: 60%;
  text-align: center;
  margin: auto;
}

.award_grid {
  margin: auto;
  padding-left: 3%;
}

.small_content_award_list {
  width: 0%;
  margin: auto;
  text-align: center;
}

.small_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid_list {
  width: 25%;
  padding: 0%;
  position: relative;
  list-style: none;
  text-align: center;
}

.grid_icon {
  position: relative;
  float: left;
  overflow: hidden;
  max-height: 557px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  margin-bottom: 35px;
}

.grid_icon img {
  width: 100%;
}

.grid_content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 97%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #eb6335;
}

.grid_content:hover {
  opacity: 1;
}

.grid_content p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  width: 80%;
  margin: 0 auto;
  padding-top: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

section.footer_form {
  background: url(footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7% 0;
}

.make_container {
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  display: flex;
  width: 87%;
}

.make_content {
  position: relative;
  left: 23px;
  width: 65%;
}

h3.make_text {
  font-size: 55px !important;
  font-weight: 400 !important;
  line-height: 63px !important;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.footer_arrow {
  text-align: center;
  padding-left: 64%;
  position: relative;
  top: 50px;
}

.footer_arrow img {
  width: 100px;
}

.make_form {
  width: 50% !important;
}

.make_banner {
  width: 100%;
  padding-left: 29px;
  clear: both;
}

.field_group input {
  text-align: inherit;
  width: 128%;
  padding: 18px 40px;
  margin-bottom: 10px;
  border: 1px solid #99999973;
  font-size: 30px;
  font-family: "Gilroy";
  color: #000;
  background-color: #fff;
  width: -webkit-fill-available !important;
  outline: none;
}

.field_group select {
  text-align: inherit;
  width: 100%;
  padding: 18px 40px;
  margin-bottom: 10px;
  border: 1px solid #99999973;
  font-size: 30px;
  font-family: "Gilroy";
  color: #000;
  width: -webkit-fill-available !important;
  background: url(https://in.npdigital.com/inquiry-form/images/Group_1911.png)
    97% 30px/20px no-repeat;
  appearance: none;
  background-color: #fff;
  outline: none;
}

select.placeholder-shown {
  color: #c8c8c8 !important;
}

section.footer-section {
  background: #27282c;
  padding: 14px;
  text-align: center;
}

.copy-right p {
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .line_show {
    display: none;
  }

  .line_show_left {
    display: none;
  }

  .row_container {
    width: 95% !important;
  }

  .footer_arrow {
    display: none;
  }

  .field_group input {
    width: -webkit-fill-available !important;
    padding: 15px 10px !important;
    font-size: 18px !important;
  }

  .field_group select {
    width: -webkit-fill-available !important;
    padding: 15px 10px !important;
    font-size: 18px !important;
  }

  .submit #submit {
    width: -webkit-fill-available !important;
    padding: 15px 10px !important;
    font-size: 18px !important;
  }
}

@media screen and (max-width: 1023px) {
  section.footer_form {
    padding: 10% 0 !important;
  }

  .submit #submit {
    padding: 15px 10px !important;
  }

  .icon_grid {
    left: 0 !important;
    width: 100% !important;
  }

  .list_grid {
    width: 50%;
  }

  .list_grid_last {
    width: 50%;
  }

  .list_grid_last_down {
    width: 50%;
  }

  .icon_image {
    margin-bottom: 15px !important;
    margin-top: 0.5rem;
  }

  .icon_image img {
    width: 59px;
    height: 59px;
    object-fit: contain;
  }

  p.icon_ser {
    font-size: 16px !important;
    line-height: 26px !important;
  }

  .line_show_left_mob {
    display: block;
  }

  .row_container {
    width: 95% !important;
  }

  .make_container {
    display: block !important;
    width: 100%;
  }

  .make_content {
    left: 0px !important;
    width: 100% !important;
  }

  h3.make_text {
    font-size: 25px !important;
    line-height: 1.5 !important;
    text-align: center;
  }

  .make_form {
    width: 100% !important;
  }

  .make_banner {
    padding-top: 7%;
  }
}

@media screen and (min-width: 1661px) and (max-width: 1919px) {
  h2.clients {
    font-size: 50px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1799px) {
  .sec_container {
    width: 90%;
    padding: 0;
  }

  .logo {
    padding-left: 0;
  }

  .logo img {
    width: 74%;
    max-width: 306px;
  }

  .contact a {
    padding: 9px 12px;
    font-size: 20px;
    position: absolute;
    right: 42px;
  }

  h2.clients {
    font-size: 44px;
  }

  .smallcontent {
    width: 64%;
    margin: auto;
    margin-bottom: 50px;
  }

  p.description {
    font-size: 17px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1290px) {
  .icon_image img {
    width: 70px !important;
    height: 70px !important;
  }

  p.icon_ser {
    font-size: 18px !important;
    line-height: 25px !important;
  }

  .service_consultation a {
    padding: 15px 25px !important;
    font-size: 20px !important;
  }

  .list_grid {
    width: 25% !important;
  }

  .list_grid_last_down {
    width: 25% !important;
  }

  .list_grid_last {
    width: 25% !important;
  }

  .icon_grid {
    width: 94% !important;
  }

  .make_container {
    display: flex !important;
    width: 87% !important;
  }

  h3.make_text {
    font-size: 24px !important;
    line-height: 35px !important;
  }

  .make_form {
    width: 50% !important;
  }

  .make_content {
    left: 0 !important;
    width: 65%;
  }

  .make_banner {
    padding-left: 29px !important;
    padding-top: 0 !important;
  }

  .field_group input {
    text-align: inherit;
    width: 128%;
    padding: 18px 40px;
  }

  .row_container {
    width: 100% !important;

    .award_grid {
      padding-left: 0%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1290px) {
  .sec_container {
    width: 94%;
  }

  .logo {
    padding-left: 2%;
  }

  .logo img {
    width: 65%;
    max-width: 306px;
  }

  .head {
    width: 95%;
    margin: auto;
  }

  h2.clients {
    font-size: 30px;
  }

  .smallcontent {
    width: 83%;
    margin-bottom: 40px;
  }

  p.description {
    font-size: 16px;
    margin: 0;
  }

  .form-container {
    width: 95%;
  }

  .form-input input {
    font-size: 18px;
    padding: 18px 19px;
  }

  .form-input select {
    font-size: 18px;
    padding: 18px 19px;
  }

  p.service_para {
    font-size: 20px;
    width: 70%;
    padding-top: 20px;
  }

  .icon_grid {
    left: 0;
    width: 100%;
  }

  .list_grid {
    width: 50%;
  }

  .list_grid_last {
    width: 50%;
  }

  .list_grid_last_down {
    width: 50%;
  }

  .icon_image {
    margin-bottom: 15px;
    margin-top: 0.5rem;
  }

  .icon_image img {
    width: 59px;
    height: 59px;
    object-fit: contain;
  }

  p.icon_ser {
    font-size: 16px;
    line-height: 26px;
  }

  .row_container {
    width: 100%;
  }

  .small_content_award p {
    font-size: 16px;
  }

  .grid_list {
    width: 29%;
    padding: 11px;
  }

  .client {
    width: 95%;
  }

  .make_container {
    display: block;
    width: 100%;
  }

  h3.make_text {
    font-size: 25px !important;
    line-height: 1.5 !important;
    text-align: center;
  }

  .make_form {
    width: 100% !important;
  }

  .make_content {
    left: 0 !important;
    width: 100%;
  }

  .field_group input {
    text-align: inherit;
    width: fill available;
    padding: 15px 10px;
    font-size: 18px;
  }

  .field_group select {
    text-align: inherit;
    font-size: 18px;
    width: fill available;
    padding: 15px 10px;
  }

  .make_banner {
    width: 100%;
    padding-left: 0;
    padding-top: 6%;
    clear: both;
  }

  .submit #submit {
    font-size: 18px;
    padding: 15px 10px;
  }

  .footer_arrow img {
    display: none;
  }

  .line_show_left_mob {
    display: none;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .contact a {
    font-size: 17px;
    padding: 6px 16px;
  }
}

@media screen and (max-width: 767px) {
  .form-sec {
    margin-top: 0px;
  }

  .header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 4% 0;
  }

  .head-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    padding-left: 0%;
  }

  .logo img {
    max-width: 65%;
  }

  .contact a {
    font-size: 17px;
    padding: 6px 16px;
  }

  section.content {
    text-align: center;
    padding-top: 10px;
  }

  .head {
    width: 95%;
    margin: auto;
  }

  section.service {
    padding: 15% 0;
  }

  .client {
    width: 95% !important;
  }

  h2.clients {
    font-size: 24px;
  }

  h2#service_client {
    font-size: 24px;
    margin-bottom: 21px !important;
  }

  p.service_para {
    font-size: 18px;
    width: 100%;
    padding-bottom: 3rem;
  }

  .smallcontent {
    width: 84%;
  }

  p.description {
    font-size: 15px;
    margin: 0;
  }

  .container {
    display: block !important;
  }

  .form-image-container {
    width: 100%;
  }

  .form-image-container {
    position: relative;
  }

  .form-elements {
    width: 100%;
    padding-top: 3%;
  }

  .form-input input {
    font-size: 18px;
  }

  .form-input select {
    font-size: 18px;
  }

  form.banner {
    width: 95%;
    padding-left: 0;
    margin: auto;
  }

  .line_show {
    width: 1px !important;
    height: 140px !important;
    right: 6% !important;
    left: revert !important;
    top: -100px !important;
  }

  .line_show_left {
    top: 35px !important;
    height: 120px !important;
    left: 85px !important;
  }

  .list_grid:nth-child(even) .line_show {
    display: none !important;
  }

  .list_grid {
    text-align: left !important;
    margin-top: 1rem !important;
  }

  .list_grid_last {
    text-align: left !important;
    margin-top: 1rem !important;
  }

  .list_grid_last_down {
    text-align: left !important;
    margin-top: 1rem !important;
  }

  .line_show_left_mob {
    top: 35px !important;
    height: 120px !important;
    left: 85px !important;
  }

  .line_show.nob {
    display: none !important;
  }

  .service_consultation a {
    font-size: 15px;
    padding: 18px 24px !important;
  }

  .small_content_award p {
    font-size: 15px;
  }

  .row_container {
    width: 95% !important;
  }

  .grid_content {
    width: 95% !important;
  }

  .grid_list {
    width: 50% !important;
  }

  .award_grid {
    padding-left: 0%;
    width: 98%;
  }

  .grid_icon {
    width: 100%;
  }

  .grid_icon img {
    width: 92%;
  }

  h3.make_text {
    font-size: 16px !important;
    margin-bottom: 5%;
  }

  .footer_arrow {
    display: none;
  }

  .make_banner {
    width: 95% !important;
    padding-left: 0 !important;
    margin: auto !important;
  }

  .field_group input {
    width: -webkit-fill-available !important;
    padding: 15px 10px !important;
    font-size: 18px !important;
  }

  .field_group select {
    width: -webkit-fill-available !important;
    padding: 15px 10px !important;
    font-size: 18px !important;
  }

  .submit #submit {
    width: -webkit-fill-available !important;
    padding: 15px 10px !important;
    font-size: 18px !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .icon_image {
    padding-left: 2rem;
    padding-top: 23px;
  }

  .icon_content {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .sec_container {
    width: 90%;
    padding: 0;
  }

  .line_show_left {
    height: 187px !important;
    left: 148px !important;
    top: 3px !important;
  }

  .line_show {
    height: 144px !important;
  }
}
